@import "bulma/sass/utilities/_all.sass";

.title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
}

.auth {
  background-color: whitesmoke;
  height: calc(40vh + 0.5rem); // Workaround to bulma having content box reduced. TODO: review.
}

@include tablet {
  .decoration {
    display: initial;
    background-image: linear-gradient(hsla(221, 75%, 46%, 0.8), transparent);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100%;

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      top: calc(20% - 20px);
    }
  }
}
