<div class="middle_title">
    <h1>Check the information on the resume</h1>
</div>

<section class="consultors">
    <div class="consultor-div" *ngFor="let consultor of consultors">
        <h1> Name </h1>
        <div class="card-content">
            <input type="text" [value]="consultor.consultorName" (keyup)="saveName($event)">
        </div>

        <h1> Email </h1>
        <div class="card-content">
            <input type="text" [value]="consultor.consultorEmail" (keyup)="saveEmail($event)">
        </div>

        <h1> Phone </h1>
        <div class="card-content">
            <input type="text" [value]="consultor.consultorPhone" (keyup)="savePhone($event)">
        </div>

        <h1> Academic Experience </h1>
        <div class="control">
            <textarea class="textarea" placeholder="Textarea" [value]="consultor.consultorAcademic"
                (keyup)="saveAcademic($event)"></textarea>
        </div>

        <h1> Work Experience </h1>
            <div class="control">
                <textarea class="textarea" placeholder="Textarea" [value]="consultor.consultorWork"
                    (keyup)="saveWork($event)"></textarea>
        </div>

        <h1> Employee Skills </h1>
        <div class="control">
            <textarea class="textarea" placeholder="Textarea" [value]="consultor.consultorSkills"
                (keyup)="saveSkills($event)"></textarea>
        </div>

        <div>
            <button class="button" *ngFor="let consultor of consultors" (click)="onClick(consultor)">Save</button>
        </div>
        <div>
            <button class="button" (click)="downloadPDF()">Download PDF</button>
        </div>
    </div>
</section>
