<div class="container">

    <h1> Display Data from Json </h1>

    <form [formGroup]="editarForm" (ngSubmit)="postForm(editarForm.value)">
        <div class="form-group">
        <label for="exampleFormControlInput1">Nombre</label>
    <input type="text" class="form-control" placeholder="Nombre del paciente" formControlName="nombre">
        </div>
        <div class="form-group">
    <label for="exampleFormControlInput1">Direccion</label>
    <input type="text" class="form-control" placeholder="Nombre del paciente" formControlName="direccion">
    </div>
    <div class="form-group row">
    
            <div class="col">
    
                <label for="exampleFormControlInput1">DNI</label>
                <input type="text" class="form-control" placeholder="Nombre del paciente" formControlName="dni">
            </div>
    
            <div class="col">
                <label for="exampleFormControlInput1">Codigo Postal</label>
                <input type="text" class="form-control" placeholder="Nombre del paciente" formControlName="codigostal">
            </div>
    
            <div class="col">
                <label for="exampleFormControlInput1">Telefono</label>
                <input type="text" class="form-control" placeholder="Nombre del paciente" formControlName="telefono">
            </div>
        </div>        
    <div class="form-group">
    <label for="exampleFormControlInput1">Fecha Nacimiento</label>
    <input type="text" class="form-control" placeholder="Nombre del paciente" formControlName="fechaNacimiento">
    </div>
    <div class="form-group ">
    <label for="exampleFormControlInput1">Correo</label>
    <input type="text" class="form-control" placeholder="Nombre del paciente" formControlName="correo">
    </div>
    <div class="form-group  ">
    <label for="exampleFormControlInput1">Genero</label>
    <input type="text" class="form-control" placeholder="Nombre del paciente" formControlName="genero">
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Guardar</button>
    <button type="button" class="btn btn-danger" (click)="eliminar()">Eliminar</button>
    <button type="button" class="btn btn-dark" (click)="salir()">Salir</button>
    
    </form>
    
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let consultor of consultors">
                <td>{{ consultor.consultorName  }}</td>
                <td>{{ consultor.consultorPhone }}</td>
                <td>{{ consultor.consultorEmail }}</td>
                <td>{{ consultor.consultorAcademic }}</td>
                <td>{{ consultor.consultorWorkExperience }}</td>
            </tr>
        </tbody>
    </table>
</div>

<input type="text" [(ngModel)]="formTitle" />
<div class="field">
    <label class="label">Name</label>
    <div class="control">
        <input class="input" type="text" placeholder="Text input">
    </div>
</div>

<div class="field">
    <label class="label">Telephone number</label>
    <div class="control has-icons-left has-icons-right">
        <input class="input is-success" type="text" placeholder="Text input" value="+575555555">
        <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
        </span>
        <span class="icon is-small is-right">
            <i class="fas fa-check"></i>
        </span>
    </div>
    <p class="help is-success">This number is correct</p>
</div>

<div class="field">
    <label class="label">Email</label>
    <div class="control has-icons-left has-icons-right">
        <input class="input is-danger" type="email" placeholder="Email input" value="example@mail.com">
        <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
        </span>
        <span class="icon is-small is-right">
            <i class="fas fa-exclamation-triangle"></i>
        </span>
    </div>
    <p class="help is-danger">This email is invalid</p>
</div>
<div class="field">
    <p class="control has-icons-left">
        <span class="select">
            <select>
                <option selected>City</option>
                <option>Select dropdown</option>
                <option>With options</option>
            </select>
        </span>
        <span class="icon is-small is-left">
            <i class="fas fa-globe"></i>
        </span>
    </p>
</div>

<div class="field">
    <label class="label">Subject</label>
    <div class="control">
        <div class="select">
            <select>
                <option>Select dropdown</option>
                <option>With options</option>
            </select>
        </div>
    </div>
</div>

<div class="field">
    <label class="label">Work Experience</label>
    <div class="control">
        <textarea class="textarea" placeholder="Text area"></textarea>
    </div>
</div>

<div class="field">
    <div class="control">
        <label class="checkbox">
            <input type="checkbox">
            I agree to the <a href="#">terms and conditions</a>
        </label>
    </div>
</div>

<div class="field">
    <div class="control">
        <label class="radio">
            <input type="radio" name="question">
            Yes
        </label>
        <label class="radio">
            <input type="radio" name="question">
            No
        </label>
    </div>
</div>

<div class="field is-grouped">
    <div class="control">
        <button class="button is-link">Submit</button>
    </div>
    <div class="control">
        <button class="button is-link is-light">Cancel</button>
    </div>
</div>