@import "bulma/sass/utilities/_all.sass";

.middle_title {
  text-align: center;
  margin-top: 40px;
  font-weight: bold;
  font-size: 30px;
  color: #081c3d;
}

.little_title {
  text-align: center;
  margin-top: 0px;
  font-size: 10px;
  color: #081c3d;
}

h1 {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0.5em;
}

input {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 2em;
  color: #081c3d;
}

.upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;

    span {
        font-size: 18px;
        margin-bottom: 10px;
    }

    input[type="file"] {
        padding: 10px 20px;
        border-radius: 5px;
        border: 1px solid lightgray;
        cursor: pointer;
    }

}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  position: relative;
  background: #393d3a;
  color: #fff;
  border: none;
  outline: none;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 50px;
  width: 180px;
  height: 50px;
  margin: 10px;
  cursor: pointer;
}

.btn:first-child:hover {
  background: linear-gradient(90deg, #07a7f1, #fa46ac, #fae736, #07a7f1);
  background-size: 400%;
}

.btn:last-child:hover {
  background: linear-gradient(90deg, #07a7f1, #fa46ac, #fae736, #07a7f1);
  background-size: 400%;
}

.btn:first-child:before,
.btn:last-child:before {
  content: '';
  position: absolute;
  background: inherit;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  border-radius: 50px;
  filter: blur(10px);
  opacity: 0;
  transition: opacity 0.5s;
}

.btn:first-child:hover:before,
.btn:last-child:hover:before {
  opacity: 1;
  z-index: -1;
}

.btn:hover {
  z-index: 1;
  animation: glow 8s linear infinite;
}

@keyframes glow {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}
