@import "bulma/sass/utilities/_all.sass";

.middle_title {
  text-align: center;
  margin-top: 40px;
  font-weight: bold;
  font-size: 30px;
  color: #081c3d;
}

.little_title {
  text-align: center;
  margin-top: 0px;
  font-size: 10px;
  color: #081c3d;
}

h1 {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0.5em;
}

input {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 2em;
  color: #081c3d;
}

.upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;

    span {
        font-size: 18px;
        margin-bottom: 10px;
    }

    input[type="file"] {
        padding: 10px 20px;
        border-radius: 5px;
        border: 1px solid lightgray;
        cursor: pointer;
    }

}

button.button {
    margin-top: 10px;
    background-color: dodgerblue;
    color: white;
    padding: 1em 1.5em;
    border-radius: 1em;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    font-size: 1.5em;
    cursor: pointer;
    transition: all 0.15s ease-in-out;

    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 4px 6px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    }
  }
